/* header center css // makes whatever is in h1 be put in the center */
h1 {
  text-align: center;
  }

/* Handles the placement of the buttons Prev and Next */
.month-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
  
/* Handles the style of the buttons Prev and Next */
.month-buttons button {
  padding: 0.3rem 1rem;
  font-size: 1rem;
  background-color: #5164ba;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
 
/* budget-card css <-DONT NEED ANYMORE PROABLY
.budget-card {
  border: 1px solid #023e8a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.5rem;
  background-color: transparent;
}
*/
 
/* What I use to make budget cards on one row horizontal and can scroll if they run off page*/
 
/* Apply horizontal scrolling using Flexbox */
.grid-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Increase specificity to override styles from savings.css for the total budget card */
/* Match the same with version in budget.jsx so it works properly / sizes itself appropriately depedning on window's size */
.total-budget-card {
  min-width: 60%;
  margin: 0 auto;
}

/* Budget version of card from savings.css to prevent overwritten stuff */
.Budgetcard{
  margin-left: auto;
  margin-right: auto;
  min-height: 15vh;
  max-width: 300px;
  border-color: black !important;
}
 
/* Style for individual budget cards */
.budget-card {
  min-width: 300px; /* Set a minimum width for each card */
  margin-right: 1rem; /* Add spacing between cards */
}
 
.pointer {
  cursor: pointer; 
}

.everything{
  margin-top: 120px;
  padding-top: 10px; /* Padding for the top of the 'row' with Your Budgets text and plus symbol to add budgets to not touch the nav bar */
}

/* Style and placement of amount and max for card */
.amount-max{
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

/* Style and placement of budget card name */
.cardName{
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}

/* Placement of budget card 'x' icon to delete a card */
.placement-button{
  width: fit-content;
  position: absolute;
  right: 0px;
  padding-right: 8px;
  padding-top: 5px;
}

/* Style of budget card 'x' icon to delete a card */
.trash-icon{
    background-color: transparent !important;
    border-color: transparent !important;
    max-height: 22px;
    max-width: 20px;
    line-height: 10px;
    text-align: center;
}



