/* home.module.css */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.home {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  padding: 20px;
  background: linear-gradient(to bottom right, #5164ba, #d6caf0);
  color: white;
}
.loginButton {
  margin-top: 100px; 
  padding: 20px 40px; 
  border: none;
  border-radius: 10px;
  background-color: #5164ba;
  color: white;
  cursor: pointer;
  font-size: 20px; 
  transition: background-color 0.3s;
  align-self: center; 
}

.loginButton:hover {
  background-color: #d6caf0;
  color: navy;
}

.home__header,
.features {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1cm;
}

.home__header {
  text-align: center;
}

.home__header h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-family:'Times New Roman', Times, serif
}

.home__paragraph {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px 0 20px; 
}

.featuresTitle {
  margin-bottom: 15px;
  text-align: center;
}

.featureCards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch; 
}


.featureCard {
  background-color: white;
  color: navy;
  border-radius: 10px;
  padding: 20px;
  width: calc(50% - 10px); 
  min-height: 200px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.featureCard:hover {
  transform: scale(1.05);
}

.featureCardTitle {
  font-size: 1.7em; 
  margin-bottom: 10px;
}

.featureCardDescription {
  font-size: 1.2em; 
  text-align: center;
}
.home__nav a:hover {
  color: #5164ba!important;
}
.home__nav a {
  text-decoration: none;
  color: white !important;
}
.home__nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 70px;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  gap: 40px;
}