.Saving{
    height: 50rem;
}

.float-container{
    padding: 40px 0px 30px 25px;
}

.goals{
    float: left;
    margin-right: 1rem;
    vertical-align: middle;
}

/* savings buttons  */
.add button{
    background-color: #023E8A;
    border-color: #023E8A;
    position: absolute;
    float: left;
    vertical-align: middle;
}

 .edit button{
    background-color: #023E8A;
    border-color: #023E8A;
    max-height: 20px;
    max-width: 20px;
}

/*
#editing{
    background-color: #d43c33;
    border-color: #d43c33;
}

#editing:hover{
    background-color: #e65850;
} */

/* modal */

.modal{
    background-color: transparent !important;
    color: white;
}

.modal-header{
    background-color: #032754;
    position: relative;
}

.modal-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-body{
    background-color: #023E8A;
}

.modal-body p{
    color: white;
    background-color: #023E8A;
    text-align: left;
}

.add-button-container{
    width: fit-content;
    margin: auto;
}

.modal-body button{
    background-color: #0077B6;
    outline-color: white;
    margin: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.modal-body button:hover{
    background-color: #1385c2;
}

.modal-dialog{
    background-color: transparent;
}

/* modal form */

.mb-3{
    background-color: #023E8A;
    color: white;
}

.form{
    background-color: transparent;
}

.form-label{
    color: white;
}

/* savings categories div format*/

.show-categories{ 
    display: flex;
}

.cats{
    /* display: flex; */
    width: 100%;
}

.cats ul{
    /* grid-template-columns: auto auto auto; */
    display: flex;
    max-width: 100%;
}

.goaldiv{
    /* background-color: aliceblue; */
    /* max-width: 350px; */
    width: 30%;
    /* flex: 33.33%; */
    margin: 1rem;
    align-items: center;
}

/* actual categories */

.card{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 15vh;
}

.btnastext{
    background:none;
    border:none;
    cursor: pointer;
}

.card-buttons{
    width: fit-content;
    position: absolute;
    right: 0px;
    padding-right: 8px;
    padding-top: 5px;
}

.edit{
    display: inline-block;
    margin-right: 0.3rem;
}

.edit-btn{
    background-color: #023E8A;
    min-height: 22px;
    min-width: 20px;
    line-height: 10px;
    align-items: center;
}

#pencil{
    float: left;
    right: 7px;
    bottom: 4px;
    position: relative;
}

.delete{
    background-color: #023E8A;
    max-height: 22px;
    max-width: 20px;
    line-height: 10px;
    text-align: center;
}

.removeCat{
    display: inline-block;
}

#xdel{
    float: left;
    right: 8px;
    bottom: 3px;
    position: relative;
}

.catName{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
}

.prog-bar-save{
    height: 10px !important;
}

.goalAmount{
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

/* EDIT GOAL  */

.edit-curramount{
    width: 27%;
    background-color: lightgrey;
    display: inline-block
}

.edit-addamount{
    width: 27%;
    display: inline-block;
    margin-left: 1rem;
}

.edit-totalamount{
    width: 27%;
    display: inline-block;
    margin-left: 1rem;
    background-color: lightgrey;
}

.add-or-sub{
    margin-left: 1rem;
    position: relative;
    top: 13px;
}

#tbg-radio-1{
    background-color: lime;
    border-color: black;
}

#tbg-radio-2{
    background-color: lime;
}

#equals{
    margin-left: 1rem;
    display: inline-block;
}

/* savingsHist */

#hist-modal{
}

#hist-header{
}

#hist-body{
    background-color: white;
    color: black;
    
}

#hist-goal-title{
    color: black;
    text-align: center;
}

#histTableContainer{
    max-height: 300px;
    overflow: auto;
    overflow-y: auto;
}

.histTable{
    max-width: 600px;
    /* max-height: 100px; */
    margin: auto;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    border: 1px solid black;
    overflow-y: auto;
}

#sortHist{
    background-color: transparent;
}

/* words and headers */
#savings-title{
    text-align: center;
    margin-top: 1rem;
}

h2{
    background-color: transparent;
}

#goals-title{
    text-align: center;
}

h4{
    background-color: transparent;
}
p{
    background-color: transparent;
}

#contained-modal-title-vcenter{
    background-color: transparent;
}

#add-goal-text{
    color: white;
}

label{
    background-color: transparent;
}

.modal{
    background-color: transparent !important;
}

