.Saving{
    height: 50rem;
}

.float-container{
    padding: 40px 0px 30px 25px;
}

.goals{
    float: left;
    margin-right: 1rem;
    vertical-align: middle;
}

/* savings buttons  */
.add button{
    background-color: #023E8A;
    border-color: #023E8A;
    position: absolute;
    float: left;
    vertical-align: middle;
}

.edit button{
    position: absolute;
    left: 400px;
    background-color: #023E8A;
    border-color: #023E8A;
}

#editing{
    background-color: #d43c33;
    border-color: #d43c33;
}

#editing:hover{
    background-color: #e65850;
}

/* modal */

.modal{
    background-color: transparent !important;
    color: white;
}

.modal-header{
    background-color: #032754;
    position: relative;
}

.modal-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-body{
    background-color: #023E8A;
}

.modal-body p{
    color: white;
    background-color: #023E8A;
    text-align: left;
}

.add-button-container{
    width: fit-content;
    margin: auto;
}

.modal-body button{
    background-color: #0077B6;
    outline-color: white;
    margin: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.modal-body button:hover{
    background-color: #1385c2;
}

.modal-dialog{
    background-color: transparent;
}

/* modal form */

.mb-3{
    background-color: #023E8A;
    color: white;
}

.form{
    background-color: transparent;
}

.form-label{
    color: white;
}

/* savings categories div format*/

.show-categories{ 
    display: flex;
}

.cats{
    /* display: flex; */
    width: 100%;
}

.cats ul{
    /* grid-template-columns: auto auto auto; */
    display: flex;
    max-width: 100%;
}

.goaldiv{
    /* background-color: aliceblue; */
    /* max-width: 350px; */
    width: 30%;
    min-height: 12vh;
    /* flex: 33.33%; */
    margin: 1rem;
    align-items: center;
}

/* actual categories */

.card{
    /* max-width: fit-content; */
    /* margin: 0 1rem; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/* .prog-bar-sav{
    background-color: #023E8A;
} */

#delete{
    background-color: #023E8A;
    float: right;
    margin-top: 1rem;
    max-height: 25px;
    max-width: 30px;
}

#trash{
    position: relative;
    right: 6px;
    bottom: 8px;
}

.temp{
    background-color: aquamarine;
}


/* words and headers */
#savings-title{
    text-align: center;
    margin-top: 1rem;
}

h2{
    background-color: transparent;
}

#goals-title{
    text-align: center;
}

h4{
    background-color: transparent;
}
p{
    background-color: transparent;
}

#contained-modal-title-vcenter{
    background-color: transparent;
}

#add-goal-text{
    color: white;
}

label{
    background-color: transparent;
}

.modal{
    background-color: transparent !important;
}

