.bothTables {
    width: 70%;
    border-radius: 10px;
    overflow: auto;
    margin: 0 auto;
    min-width: 500px;
    text-align: center;
    border: 1px solid black;
    max-height: 65vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

thead {
    position: sticky;
    top: 0;
}

table th {
    padding: 8px 12px;
    background-color: #023e8a;
    color: #fff;
}

table tbody tr td {
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: black;
    background-color: #ffffff;
  }

table td:last-child {
    border-right: 0px;
}

.incomeTable tbody tr,
.expenseTable tbody tr {
    height: 55px;
}

.headButton {
    border: none;
    background-color: #023e8a;
    color: #fff;
}

.add-both {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 50px;
    right: 18%;
  }
  
  .add-expense button,
  .add-income button{
    font-weight: bold;
    font-size: 14px;
    margin-right: 15px; /* Add spacing between the buttons within .add-both */
  }
  
  .add-expense button,
  .add-income button {
    background-color: #023E8A;
    color: #fff;
    padding: 9px 12px;
    min-width: 120px;
    margin-top: 36px;
  }
  
.button-container {
    position: relative;
    margin-top: 75px;
    margin-left: 18%;
  }
  
.show-expense-button {
    top: 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    padding: 11px 12px;
    border-radius: 15px 15px 0 0;
    margin-right: 15px;
    /* Set the default background color to gray */
    background-color: #888;
    width: 10%;
    min-width: 100px;
}

.show-income-button {
    top: 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    padding: 11px 12px;
    border-radius: 15px 15px 0 0;
    /* Set the default background color to gray */
    background-color: #888;
    width: 10%;
    min-width: 100px;
}
  
.show-income-button.income-active {
    /* Change the background color to #023e8a when the income table is active */
    background-color: #023e8a;
}
  
.show-expense-button.expense-active {
    /* Change the background color to #023e8a when the expense table is active */
    background-color: #023e8a;
}

.input-csv {
    display: grid;
    color: #023e8a;
    width: 10%;
    min-width: 230px;
  }

.upload-button-container {
    position: absolute;
    top: 0;
    left: 36%; /* Adjust this value to your desired distance from the left side */
}

.input-csv button {
    background-color: #023e8a;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

.date-input-container {
    display: inline-block;
    margin-right: 10px; /* Add margin between the input fields */
  }

.date-label {
    color:#023E8A;
}

.everything {
    margin-top: 80px;
}