table {
    width: 70%;
    border-spacing: 0px;
    border: 1px solid black;
    float: bottom;
    margin: 50px;
    border-radius: 20px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
}

table tbody tr td {
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: black;
  }

table tbody tr td:last-child {
    border-right: 0px;
}